body {
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 98%;
}

 ul li {
    float: left;
    width: 8.8%;
}

   ul li a {
        display: block;
        padding: 15px 0 15px 0;
        color: white;
        /*text-transform: uppercase;*/
        font-weight: bold;

        text-align: center;
        width: 100%;
      
    }

   li a:hover {
            background-color: #111111;
        }

.center {
    margin: auto;
    width: 50%;
    border:1px solid black;
    padding: 10px;
}

.search {
    width: 98%;
    margin: 0 auto;
}
.log {
    background-color: #353835;
    border: none;
    color: white;
    padding: 7px 12px 7px 12px;
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
}

.go {
    background-color: #353835;
    border: none;
    color: white;
    padding: 18px 7px -2px 12px;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    padding: 0 11px 0px 11px;
}