body {
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 98%;
}

 ul li {
    float: left;
    width: 8.8%;
}

   ul li a {
        display: block;
        padding: 15px 0 15px 0;
        color: white;
        /*text-transform: uppercase;*/
        font-weight: bold;

        text-align: center;
        width: 100%;
      
    }

   li a:hover {
            background-color: #111111;
        }

.center {
    margin: auto;
    width: 50%;
    border:1px solid black;
    padding: 10px;
}

   